.Autonomous-GC-controller {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

* {
   box-sizing: border-box;
}

h1, h2, h3, p {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.content {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: flex-end;
   height: 100%;
}

.flex-row {
   display: flex;
   flex-flow: row nowrap;
}

#view-row {
   flex-grow: 1;
   -webkit-flex-grow: 1;
   width: 100vw;
   justify-content: space-around;
   align-items: center;
   height: 45%;
}

#control-row {
   align-items: flex-end;
   justify-content: space-around;
   height: 55%;
   width: 100vw;
   perspective: 2000px;
   perspective-origin: center;
   -webkit-perspective: 2000px;
   -webkit-perspective-origin: center;
}

#control-row > * {
   user-select: none;
   cursor: pointer;
}

#steering-wheel-image {
   display: block;
   max-height: 100%;
   max-width: 100%;
   width: auto;
   height: auto;
   border-radius: 50%;
   object-fit: contain;
}

#gas-pedal {
   color: lightGreen;
}

#brake-pedal {
   color: red;
}

#gas-pedal::before {
   left: -10px;
}

#brake-pedal::before {
   right: -10px;
}


.pedal::before {
   content: '';
   position: absolute;
   background-color: #7F7F7F;
   height: 100%;
   top: 0;
   width: 20px;
   transform: translateZ(-10px) rotateY(90deg);
   -webkit-transform: translateZ(-10px) rotateY(90deg);
}

.pedal::after {
   content: '';
   position: absolute;
   background-color: #606060;
   height: 20px;
   width: 100%;
   bottom: -10px;
   transform: translateZ(-10px) rotateX(90deg);
   -webkit-transform: translateZ(-10px) rotateX(90deg);
}

.pedal {
   background-color: #505050;
   height: 80%;
   width: 10%;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   color: white;
   transform-style: preserve-3d;
   transform-origin: 50% 70%;
   transition: transfrom 0.5s ease-out;
   -webkit-transition: -webkit-transform 0.5s ease-out;

}

.rotate-pedal {
   transform: translateY(-5px) rotateX(30deg);
   -webkit-transform: translateY(-5px) rotateX(30deg);
}

.row-fill {
   flex-grow: 1;
   height: 100%;
}

.row-item {
   height: 100%;
}

.control-data-box {
   display: inline-block;
   margin-top: 15%;
   padding: 0 10px;
}

.control-data-header {
   padding: 5px 5px 0 5px;
   margin: 0;
   border-bottom: 1px solid black;
}

.control-data {
   padding: 2px;
   margin: 5px;
   border-radius: 5px;
   background-color: #505050;
   color: white;
}

#speed-data, #wheel-angle-data {
   font-size: 3ch;
   padding: 0px 10px;
}

.direction-icon {
   margin: 0;
   padding: 0;
   font-size: 5em;
}

#up-direction-icon {
   transform: rotate(-90deg) translateY(-0.06em);
   -webkit-transform: rotate(-90deg) translateY(-0.06em);
}

#down-direction-icon {
   transform: rotate(90deg) translateY(-0.06em);
   -webkit-transform: rotate(90deg) translateY(-0.06em);
}

.stream-container {
   max-width: 45%;
   flex-grow: 1;
   height: 95%;
}

.stream-image {
   object-fit: contain;
   display: block;
   max-height: 100%;
   max-width: 100%;
   margin: auto;
}
